* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #9932cc;
    margin-top: 10px;
}

h1{
    color: pink;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.container{
    border: 2px solid pink;
    height: 80px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #9932cc;
}

span.active{
    display: none;
}

#final {
    color: #9932cc;
}
